<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ibm.rules.studio.decisionservice.launching.DecisionOperation">
    <stringAttribute key="com.ibm.rules.studio.decisionservice.ui.OPERATION_PATH" value="/health monitoring decision service/deployment/check respiratory function"/>
    <mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_FUNCT_SIGN">
        <mapEntry key="heartMonitor" value="function spa.samples.health.domain.Device get_heartMonitor_value()"/>
        <mapEntry key="heartReading" value="function spa.samples.health.domain.Reading get_heartReading_value()"/>
        <mapEntry key="heart_monitor" value="function spa.samples.health.domain.Device get_heart_monitor_value()"/>
        <mapEntry key="heart_patient" value="function spa.samples.health.domain.Patient get_heart_patient_value()"/>
        <mapEntry key="heart_reading" value="function spa.samples.health.domain.Reading get_heart_reading_value()"/>
        <mapEntry key="oximeter" value="function spa.samples.health.domain.Oximeter get_oximeter_value()"/>
        <mapEntry key="patient" value="function spa.samples.health.domain.Patient get_patient_value()"/>
    </mapAttribute>
    <mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_FUNCT_VALUES">
        <mapEntry key="heartMonitor" value="spa.samples.health.domain.DeviceType heartMonitorType = spa.samples.health.util.AbstractFactory.getSingleton().createDeviceType(&quot;Heart Monitor&quot;, &quot;Monitors pulse&quot;);&#10;spa.samples.health.domain.DeviceModel heartMonitorModel = spa.samples.health.util.AbstractFactory.getSingleton().createDeviceModel(heartMonitorType,&quot;Heart Monitor Model5&quot;,&quot;Johnson &amp; Johnson&quot;, &quot;Monitors pulse&quot;);&#10;spa.samples.health.domain.Device device = spa.samples.health.util.AbstractFactory.getSingleton().createDevice(heartMonitorModel);&#10;device.deviceState = spa.samples.health.domain.DeviceState.Broken;&#10;return device;"/>
        <mapEntry key="heartReading" value="spa.samples.health.util.AbstractFactory objectFactory = spa.samples.health.util.AbstractFactory.getSingleton();&#10;spa.samples.health.domain.ReadingValue heartBeat = objectFactory.createReadingValue(spa.samples.health.domain.ValueUnit.pulses_per_minute,182);&#10;spa.samples.health.domain.Reading heartReading = objectFactory.createReading(heart_patient, ReadingType.HeartBeat, heartBeat, Instant.now(), heartMonitor);&#10;return heartReading;"/>
        <mapEntry key="heart_monitor" value="spa.samples.health.util.AbstractFactory objectFactory = spa.samples.health.util.AbstractFactory.getSingleton();&#10;spa.samples.health.domain.DeviceType heartMonitorType = objectFactory.createDeviceType(&quot;Heart Monitor&quot;,&quot;Monitors pulse&quot;);&#10;spa.samples.health.domain.DeviceModel heartMonitorModel = objectFactory.createDeviceModel(heartMonitorType,&quot;Heart Monitor Model5&quot;,&quot;Johnson &amp; Johnson&quot;,&quot;Monitors pulse&quot;);&#10;spa.samples.health.domain.Device device = objectFactory.createDevice(heartMonitorModel);&#10;device.deviceState = spa.samples.health.domain.DeviceState.Broken;&#10;return device;"/>
        <mapEntry key="heart_patient" value="spa.samples.health.domain.Patient patient = spa.samples.health.util.AbstractFactory.getSingleton().createPatient(&quot;John&quot;, &quot;Smith&quot;,null);&#10;return patient;"/>
        <mapEntry key="heart_reading" value="spa.samples.health.util.AbstractFactory objectFactory = spa.samples.health.util.AbstractFactory.getSingleton();&#10;spa.samples.health.domain.ReadingValue heartBeat = objectFactory.createReadingValue(spa.samples.health.domain.ValueUnit.pulses_per_minute,182);&#10;java.time.Instant now = java.time.Instant.now();&#10;spa.samples.health.domain.Reading heart_reading = objectFactory.createReading(heart_patient, spa.samples.health.domain.ReadingType.HeartBeat, heartBeat, now, heart_monitor);&#10;return heart_reading;"/>
        <mapEntry key="oximeter" value="spa.samples.health.util.AbstractFactory objectFactory = spa.samples.health.util.AbstractFactory.getSingleton();&#10;spa.samples.health.domain.DeviceType oximeterType = objectFactory.createDeviceType(&quot;Oximeter&quot;,&quot;Monitors oxygen saturation level in blood&quot;);&#10;spa.samples.health.domain.DeviceModel oximeterModel = objectFactory.createDeviceModel(oximeterType,&quot;Oxypulse Pro&quot;,&quot;Oxypulse Inc.&quot;,&quot;Monitors oxygen saturation level rerally well&quot;);&#10;spa.samples.health.domain.Oximeter oximeter = (spa.samples.health.domain.Oximeter)objectFactory.createDevice(oximeterModel);&#10;oximeter.deviceState = spa.samples.health.domain.DeviceState.Broken;&#10;return oximeter;&#10;"/>
        <mapEntry key="patient" value="spa.samples.health.domain.Patient patient = spa.samples.health.util.AbstractFactory.getSingleton().createPatient(&quot;John&quot;, &quot;Smith&quot;,null);&#10;return patient;&#10;"/>
    </mapAttribute>
    <mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_NAMES">
        <mapEntry key="heartMonitor" value="heartMonitor"/>
        <mapEntry key="heartReading" value="heartReading"/>
        <mapEntry key="heart_monitor" value="heart_monitor"/>
        <mapEntry key="heart_patient" value="heart_patient"/>
        <mapEntry key="heart_reading" value="heart_reading"/>
        <mapEntry key="oximeter" value="oximeter"/>
        <mapEntry key="patient" value="patient"/>
    </mapAttribute>
    <mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_SIMPLE_VALUES">
        <mapEntry key="heartMonitor" value=""/>
        <mapEntry key="heartReading" value=""/>
        <mapEntry key="heart_monitor" value=""/>
        <mapEntry key="heart_patient" value=""/>
        <mapEntry key="heart_reading" value=""/>
        <mapEntry key="oximeter" value=""/>
        <mapEntry key="patient" value=""/>
    </mapAttribute>
    <mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_TYPES">
        <mapEntry key="heartMonitor" value="2"/>
        <mapEntry key="heartReading" value="2"/>
        <mapEntry key="heart_monitor" value="2"/>
        <mapEntry key="heart_patient" value="2"/>
        <mapEntry key="heart_reading" value="2"/>
        <mapEntry key="oximeter" value="2"/>
        <mapEntry key="patient" value="2"/>
    </mapAttribute>
    <booleanAttribute key="ilog.rules.studio.launching.STOP_AT_FIRST_STATEMENT" value="true"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/respiratory monitoring rules"/>
        <listEntry value="/health monitoring decision service"/>
        <listEntry value="/health monitoring decision service/deployment/check respiratory function.dop"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
        <listEntry value="4"/>
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="respiratory monitoring rules"/>
</launchConfiguration>
